body{
  font-family: sans-serif;
  letter-spacing: 0.5px;
  color: black;
  background-color: #FAF9F6;
  margin: 0;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* -------------------------- Header and navigation ------------------------- */
.heroSection::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/bilder/heroImage.png);
  background-size: cover;
  background-position: center;
  opacity: 20%;
  z-index: 1;
}

.heroSection{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min(100svh, 1080px);
  align-items: center;
  color: white;
  background-color: #301119;
  box-sizing: border-box;
}

#navLogo{
  display: block;
  height: 4rem;
  margin: 1rem;
  filter: 
    drop-shadow(0 5px 10px rgba(0, 0, 0, 0.05))
    drop-shadow(0 15px 40px rgba(0, 0, 0, 0.2))
  ;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: min(90%, 2000px);
  margin: 0 auto;
  z-index: 10;
}

nav a{
  display: block;
  width: fit-content;
  white-space: nowrap;
}

nav ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  border-radius: 5rem;
  background-color: #FAF9F6;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.2)
  ;
  overflow: hidden;
}

nav ul a{
position: relative;
display: block;
justify-content: center;
align-items: center;
height: 100%;
width: fit-content;
padding: 1rem;
text-decoration: none;
text-align: center;
color: black;
box-sizing: border-box;
}

nav ul a:hover{
  background-color: #dad7d7;
}

nav ul a:active{
  background-color: #FAF9F6;
}

.activeTab::after{
content: "";
position: absolute;
bottom: 20%;
left: 10%;
width: 80%;
height: 2px;
background-color: #6d2134;
}

.heroContent{
  margin: auto;
  max-width: 1000px;
  padding: min(10vw, 5rem);
  font-size: 120%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/* ---------------------------------- Main ---------------------------------- */
main{
  position: relative;
  text-align: center;
  padding: 1rem;
}

main p{
  max-width: 700px;
  margin: auto;
}

main h3{
  margin-top: 3rem;
}

main ul{
  text-align: start;
  width: fit-content;
  margin: auto;
  padding: 0;
}
main ul li{
  margin: 0.5rem;
}

#startImages{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: auto;
  width: min(90%, 600px);
  box-sizing: border-box;
}

.imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

#startImages img{
  width: 100%;
}

/* ------------------------------ pictures.html ----------------------------- */
#bodyPictures{
  background-color: #e4dfdf;
}

.editedPicturesContainer{
  position: relative;
  display: grid;
  gap: 2rem;
  margin: auto;
  padding: 1rem;
  width: min(100%, 2000px);
  box-sizing: border-box;
}

.editedAndOriginal{
  position: relative;
  display: flex;
  flex-direction: column;
}

.editedAndOriginal:not(:last-child)::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #6d2134;
  border-radius: 4px;
  bottom: -1rem;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.2)
  ;
}

.imgAndTitle{
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.imgAndTitle h1{
  font-size: 1.5rem;
}

.imgAndTitle img{
  max-width: 70%;
  height: auto;
  max-height: 400px;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.editedAndOriginal p{
  grid-column: 1 / 3;
  width:80%;
  place-self: center;
  max-width: none;
  text-align: start;
  margin: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

/* ------------------------------- about.hmtl ------------------------------- */
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: min(90%, 2000px);
  margin: 5rem auto;
  padding: 2rem;
  color: white;
  background-color: #301119;
  border-radius: 5rem;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.2)
  ;
  box-sizing: border-box;
}

.profile ul{
  margin: 0;
  padding-left: 1rem;
}

.profile img{
  width: min(70%, 500px);
}

/* --------------------------------- Footer --------------------------------- */
footer{
display: flex;
justify-content: space-around;
align-items: center;
width: min(100%, 2000px);
margin: auto;
padding: 1rem;
width: 100%;
color: white;
background-color: #301119;
box-sizing: border-box;
}

footer p{
margin: 0;
}

footer img{
  height: 5rem;
}

@media (min-width: 1200px){
  nav{
     width: min(80%, 2000px);
     font-size: 1.2rem;
  }

  #startImages{
    grid-template-columns: 500px 500px;
    width: min(90%, 1200px);
  }

  .editedAndOriginal{
    display: grid;
  }

  .imgAndTitle h1{
    font-size: 2rem;
  }

  .imgAndTitle img{
    max-height: 800px;
  }

  .profile{
    flex-direction: row;
    gap: 5rem;
    padding: 5rem;
  }

  .profile img{
    width: min(50%, 500px);
  }
}

@media (max-width: 350px){
  nav{
    width: 100%;
  }

  nav ul{
    border-radius: 0;
  }
}

@media (max-width: 500px){
  #startImages{
    grid-auto-rows: 200px;
    padding: 0;
    gap: 2rem;
  }
}

